body{
    height: 100%;
    width: 100vw;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    min-width: 320px;
    overflow-x: hidden;
    
}

a{
    text-decoration: none;
    color: #006200;
}

.container-fluid{
    margin: 0;
}

.background-1{
    height: 20em;
    display: flex;
    justify-content: center;
    text-align: center;    
    background-color: #FF6B6B;
    color: white;
}

.background-2{
    height: 10em;
    display: none;
    justify-content: center;
    text-align: center;    
    background-color: #FF6B6B;
    color: white;
}

.navigation-bar{
    height: 5em;
}

.navigation-toggler{
    display: flex;
    justify-content: end;
}

.navbar {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

/* .navbar-toggler-icon:hover {
    rotate: 90deg;
    transition: 1s;
} */

.navbar-toggler {
    padding: 0;
    border: none;
    /* transition: 1s; */
}

.navbar-menu{
    display: none;
    flex-direction: row;
    width: 15.9em;
    height: 8em;
    background-color: white;
    position: fixed;
    top: 5em; 
    right: 0px; 
    border: 0.2em solid black;

}

.menu-content-left{
    border-left: 1px solid #FF6B6B; 
    border-right: 1px solid #FF6B6B;

}
.menu-content-right{
    border-right: 1px solid #FF6B6B; 
}

.text-red{
    color: #FF6B6B;
}

.mamma-logo {
    display: flex;
    justify-content: center;
    background-image: url(../assets/mamma-logo.png);
    height: 3.5em;
    width: 8em;
    background-size: 8em 3.5em;
    
}

.pizza-icon {
    display: flex;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-image: url(../assets/pizza.png);
    background-size: 50px 50px;
    
}

.delivery-icon {
    display: flex;
    height: 50px;
    width: 50px;
    background-image: url(../assets/delivery.png);
    background-size: 50px 50px;
    
}

.cutlery-icon {
    display: flex;
    height: 50px;
    width: 50px;
    background-image: url(../assets/cutlery.png);
    background-size: 50px 50px;
    
}


.divisor{
    height: 0.2rem;
    max-height: 0.2rem;
}

.bg-color-red {
    background-color: #dd3333;
}

.bg-color-green {
    background-color: #006200;
}

.bg-color-white {
    background-color: white;
}

.footer-margin{
    margin-top: 35em;
}

.background-image-1{
    height: 20rem;
    background-image: url(../assets/pizzeria4.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.background-image-2{
    height: 20rem;
    background-image: url(../assets/pizzeria6.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.white{
    color: white;
}

.footer img {   
    height: 30px;
    background-size: 30px 30px;
    padding: 0.1em;
}

.attached-file{
    display: none;
}

.submit-button{
    background-color: #006200;
    border-color: #004500;
    --bs-btn-color: #fff;
    --bs-btn-bg: #006200;
    --bs-btn-border-color: #006200;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #005400;
    --bs-btn-hover-border-color: #004500;
    --bs-btn-focus-shadow-rgb: 49,132,253;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #004500;
    --bs-btn-active-border-color: #005400;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #006200;
    --bs-btn-disabled-border-color: #006200;
}

.bd-green{
    border: 2px solid #005400;
}

.mt-3em{
    margin-top:3em;
}

.mt-5em{
    margin-top:5em;
}

.menu-image{
    height: 13rem;
    width: 13rem;
    background-size: cover;
}

.menu-image:hover{
    -webkit-filter: blur(3px);
    border: 1px solid transparent;
}

.plato1{
    background-image: url(../assets/ensalada.jpg);
}

.plato2{
    background-image: url(../assets/antipasta.jpg);
}

.plato3{
    background-image: url(../assets/pasta.jpg);
}

.plato4{
    background-image: url(../assets/carne.jpg);
}

.plato5{
    background-image: url(../assets/cerveza.jpg);
}

.plato6{
    background-image: url(../assets/postre.jpg);
}


.menu{ 
    height: 15rem;
    min-width: 15rem;
}

.menu div div {
    border-radius: 50%;
}

.col-xs-12 {
    display: flex;
    margin-top:3em;
} 

.title-menu-1{
    position: absolute;
    display: none;
    margin-top: 4em;
    color: white;
    text-shadow: black 3px 0 10px;
    font-family: Impact;
    font-size:1.4rem;
}
.title-menu-2{
    position: absolute;
    display: none;
    margin-top: 4em;
    color: white;
    text-shadow: black 3px 0 10px;
    font-family: Impact;
    font-size:1.4rem;
}
.title-menu-3{
    position: absolute;
    display: none;
    margin-top: 4em;
    color: white;
    text-shadow: black 3px 0 10px;
    font-family: Impact;
    font-size:1.4rem;
}
.title-menu-4{
    position: absolute;
    display: none;
    margin-top: 4em;
    color: white;
    text-shadow: black 3px 0 10px;
    font-family: Impact;
    font-size:1.4rem;
}
.title-menu-5{
    position: absolute;
    display: none;
    margin-top: 4em;
    color: white;
    text-shadow: black 3px 0 10px;
    font-family: Impact;
    font-size:1.4rem;
}
.title-menu-6{
    position: absolute;
    display: none;
    margin-top: 4em;
    color: white;
    text-shadow: black 3px 0 10px;
    font-family: Impact;
    font-size:1.4rem;
}

@media only screen and (max-width: 768px){
    .mobile{
        display: none;
    }
    .images-disposition{
        flex-direction: row;
    }
    .footer-margin{
        margin-top: 83em;
    }
    .menu-content-right{
        border-left: 1px solid #FF6B6B; 
    }

}


@media only screen and (max-width: 670px){
    .image-1 {
        height: 13em;
    }
    .pizza-icon{
        height: 30px;
        width: 30px;
        background-size: 30px 30px;
        margin-left: -1em;
    
    }
    .delivery-icon{
        height: 30px;
        width: 30px;
        background-size: 30px 30px;
        margin-left: -1em;
    
    }
    .cutlery-icon{
        height: 30px;
        width: 30px;
        background-size: 30px 30px;
        margin-left: -1em;
    
    }
    .primary-container {
        display: none;
    }
}

@media only screen and (max-width: 425px){
    .mobile-display{
        flex-direction: column;
        font-size: 0.8rem;
    }

    .col-mobile-display{
        width: 100%;
    }

    .footer-mobile{
        flex-direction: row;
    }
}